{% extends 'base.html.twig' %}

{% block body %}
    <div id="container"></div>

    <script>
        setTimeout(async () => {
            const response = await fetch('/content');
            const content = await response.text();
            const element = document.createElement('div');

            element.innerHTML = content;
            document.getElementById('container').append(element);
        }, 2000);
    </script>
{% endblock %}
